.comment__container {
  max-width: 1220px;
  margin: 0 auto;
}

.comment__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;

  margin-bottom: 37px;
}

.comment__text {
  border-color: @special-white;
  resize: none;
  width: 100%;
  height: 150px;

  &::placeholder {
    .font-regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: @special-dark-grey;
    text-transform: uppercase;
  }
}

@media (min-width: @tablet-width) {
  .comment__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    padding: 0 39px 0 39px;

    background-color: @white;
    display: table;
  }

  .comment__wrapper-text {
    padding-left: 40px;
  }

  .comment__text {
    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media (min-width: @desktop-width) {
  .comment__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  .comment__container {
    padding-right: 39px;
  }
}
