.contacts {
  padding: 26px 20px;

  &--light {
    background-color: @white;
  }
}

.contacts__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @lighten-black;
}

.contacts__description {
  .lato;
  font-size: 14px;
  line-height: 20px;
  color: @special-dark-grey;
}
