.form-item__input-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @special-grey;
  white-space: nowrap;
  align-self: center;

  margin-right: 12px;
}

.form-item__input {
  .font-regular;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  padding: 9px 10px 8px 13px;

  border-style: solid;
  border-color: @special-white;

  &::placeholder {
    color: @special-dark-grey;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none; /* stylelint-disable-line */ /* отключает боковые стрелки в инпут number */
  }

  &:hover {
    border-color: @border-list-grey;
  }

  &:focus-visible {
    outline: none;
    border-color: @special-dark-grey;
  }

  &:invalid:focus:not(:placeholder-shown) {
    border-color: @error;
  }
}

@media (min-width: @tablet-width) {
  .form-item__input-label {
    font-size: 20px;
    line-height: 30px;
    margin-right: 12px;
  }

  .form-item__input {
    font-size: 20px;
    line-height: 30px;

    padding: 9px 10px 8px 19px;
  }
}
