.form__submit-button {
  border: none;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
}

.form__information-cat,
.form__program-group {
  padding: 0;
  border: none;
}

.form__information-cat,
.form__program-group, {
  border-bottom: 1px @bg-grey solid;
}

.form__information-owner {
  padding: 26px 20px 23px;
  border: none;
}

.form__comment {
  padding: 0 20px 23px;
  border: none;
}

.form__additionally {
  padding: 0 20px 34px;
  border: none;
}

.form__button-wrapper,
.form__notification {
  padding: 0 20px;
}
