.information-owner__container {
  max-width: 1220px;
  margin: 0 auto;
}

.information-owner__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;

  margin-bottom: 35px;
}

.information-owner__list {
  .list-null;
}

.information-owner__item {
  display: flex;
  flex-wrap: nowrap;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

@media (min-width: @tablet-width) {
  .information-owner__title {
    font-size: 36px;
    line-height: 36px;
    background-color: @white;
    display: table;


    margin-bottom: 76px;
    padding: 0 42px 0 39px;
  }

  .information-owner__list {
    padding-left: 40px;
  }

  .information-owner__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: @desktop-width) {
  .information-owner__list {
    display: flex;
    justify-content: space-between;
  }

  .information-owner__item {
    flex-grow: 1;

    &:not(:last-child) {
      margin: 0 78px 0 0;
    }
  }

  .information-owner__container {
    max-width: 1220px;
    padding-right: 39px;
  }
}
