.live-example {
  padding: 25px 20px 40px;
  background-color: @bg-grey;
}

.live-example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}

.live-example__description {
  .lato;
  color: @special-dark-grey;
  margin-bottom: 20px;
}

.live-example-list {
  margin-bottom: 20px;
}

.live-example__objection {
  .lato;
  font-size: 12px;
  line-height: 12px;
  color: @special-dark-grey;
}

.live-example__result {
  font-size: 24px;
  line-height: 24px;
}

.live-example__wrapper-conlusion {
  margin-bottom: 20px;
}

.live-example__outcome {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.live-example__slider {
  padding: 0 20px;
}
