.main-header {
  position: relative;
  max-width: 1220px;
  margin: 0 auto;
}

.main-header__logo-tablet {
  display: none;
}

.main-header__logo-desktop {
  display: none;
}

.main-header__logo-text {
  align-self: center;
  padding-top: 5px;
}

.main-header__wrapper {
  padding: 10px 20px 12px;
  display: flex;
  justify-content: space-between;
}

.main-header__nav-toggle {
  background-color: transparent;
  width: 24px;
  height: 20px;
  align-self: center;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.nav-toogle-open {
  background-image: url("../img/icon/icon-burger.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.nav-toogle-close {
  background-image: url("../img/icon/icon-burger-close.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.main-header__desktop-bg {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 24px 31px 0 30px;
  }

  .main-header__logo-text {
    display: none;
  }

  .main-header__wrapper {
    padding: 0;
  }

  .main-header__logo-mobile {
    display: none;
  }

  .main-header__logo-tablet {
    display: block;
  }

  .main-header__nav-toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    padding: 53px 110px 0;
  }

  .main-header__logo-tablet {
    display: none;
  }

  .main-header__logo-desktop {
    display: block;
  }
}
