.main-footer {
  background-color: @basic-grey;
}

.main-footer__logo {
  padding: 39px 20px 32px;
  text-align: center;
  border-bottom: 1px @border-grey solid;
}

.main-footer__social-list {
  margin: 0;
  padding: 23px 20px;
  border-bottom: 1px @border-grey solid;
}

.main-footer__copyright {
  padding: 28px 20px 22px;
}
