.program-group {
  padding: 0;
  margin-bottom: 26px;
}

.program-group__list {
  .list-null;
  padding: 27px 25px 20px 20px;
}

.program-group__item:not(:last-child) {
  margin-bottom: 13px;
}


@media (min-width: @tablet-width) {
  .program-group {
    margin: 0;
  }

  .program-group__list {
    padding: 25px 28px;
  }
}
